
title {
    /*Alineación(centro); Fuente(Arial); Tamaño(38 pixeles); Color(verde);*/
    color: green;
    font-size: 38px;
    text-align: center;
    font-family: Arial;
}
titulo {
    /*Alineación(derecha); Fuente(Tahoma); Tamaño(30 pixeles); Color(azul)*/
    text-align: right;
    font-family: Tahoma;
    font-size: 30px;
    color: blue;

}

h1.title {
    color:red;
    text-align:left;
    font-family:tahoma;
    font-size: 28px;

}